
@keyframes changeBorder{
  0% {
    border: 3px dashed;
    border-right-color: rgb(3, 3, 3);
    border-radius: 51% 49% 48% 52% / 0% 0% 100% 100% 
  }
  25% {
    border: 3px dashed;
    border-bottom-color: rgb(3, 3, 3);
      border-radius: 51% 49% 48% 52% / 0% 0% 100% 100% 
    }
  50% {
    border: 3px dashed;
    border-left: rgb(3, 3, 3);
    border-radius: 51% 49% 48% 52% / 0% 0% 100% 100% 
  }
  75% {
    border: 3px dashed;
    border-top-color: rgb(3, 3, 3);
      border-radius: 51% 49% 48% 52% / 0% 0% 100% 100% 
    }
  100% {
    border: 3px dashed;
    border-right-color: rgb(3, 3, 3);
    border-radius: 51% 49% 48% 52% / 0% 0% 100% 100% 
  }
}

.changing-border-div{

  animation: changeBorder 3s infinite;
}